header {
  width: 100%;
  height: 37.5rem;
  background-color: hsl(353, 100%, 62%);
  border-radius: 0 0 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header *{
  color: hsla(0, 0%, 100%, 0.829);
}

.header {
  width: 73%;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px 0;
  transition: 0.3s;
}

.menu-bar {
  display: flex; 
}

.menu-bar > div:first-child {
  display: flex;
  justify-content: space-between;
}

.menu-bar-button img {
  padding: 3px;
}

.nav-list a{
  color: hsl(208, 49%, 24%);
}

.nav-list a:hover {
  font-weight: bolder;
}

.nav-list > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line4 {
  display: none;
}

.header .header-user a,
.intro > div a{
  padding: 15px 30px;
}

.header .header-user > a#sign-up-btn,
.intro > div a{
  transition: .9s;
  font-weight: bolder;
  border-radius: 30px;
}

.intro{
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.intro > h1 {
  font-size: 45px;
  color: hsl(0, 0%, 100%);
}

.intro > p{
  padding: 20px 0 60px 0;
}

.intro > div > a#start-for-free-btn {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
}

.intro > div > a#learn-more-btn {
  border: 1px solid hsl(0, 0%, 100%);
}

.intro > div > a#start-for-free-btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 0.274);
}

.intro > div > a#learn-more-btn:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
}

main {
  color: hsl(207, 13%, 34%);
  overflow: hidden;
  line-height: 1.5rem;
}

.illustration-phones {
  background-image: url(../images/bg-pattern-circles.svg);
}

footer {
  background-color: hsl(240, 10%, 16%);
}

footer *{
  color:hsl(240, 2%, 79%);
}

footer {
  width: 100%;
  height: 22.4375rem;
  border-radius: 0 7rem 0 0;
}

.footer {
  margin-left: 5%;
  padding-top: 5%;
  width: 80%;
  display:flex;
  justify-content: space-around;
}

.footer div ul{
  padding-top: 30px;
}

footer div ul li{
  padding: 10px 0;
}

footer p{
  padding-top: 6.3px;
  font-weight: bold;
}

footer a:hover{
  text-decoration: underline;
}